$theme: (
        mainBgCollor:  #FFFFFF,
        bgBodyCollor: #E5E5E5,
        buttonBar: #DEDEDE,
        boxShadowPannel: 0px 4px 30px rgba(0, 0, 0, 0.05),
        bgCardImg:  rgba(239, 240, 242, 0.2),
        borderRaius: 2px,
        borderBox: 1px solid #ECEDF0 ,

        mainTextColor: #000,
        colorTitleSelect: #222,
        textBlockTitle: #212529,
        textLight: #fff,
        textGray: #999999,
        textProgectDark: #123CE1,
        textProgectMedium: #4F7AFE,
        textProgectLight: #A8BDFF,

        hoverLink: #2A63F5,

        SegoeRegular: "SegoeRegular",
        SegoeLight: "SegoeLight",
        SegoeBold: "SegoeBold",


        pinckCollor: #FF7ADA,
        orangCollor: #FFB800,
        greenCollor:  #64D60B,
        blueCollor: #123CE1,
        blueMediumCollor:  #4F7AFE,
        blueLightCollor:  #A8BDFF,

);


