@font-face {
  font-family: 'SegoeRegular';
  src: url('~@/assets/fonts/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SegoeLight';
  src: url('~@/assets/fonts/SegoeUILight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SegoeBold';
  src: url('~@/assets/fonts/SegoeUIBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
