.table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &_img {
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: 100%;
    height: 100%;
  }
  &_item {
    font-family: var(--SegoeRegular);
    font-size: 14px;
    color: var(--mainTextColor);
  }
}


::v-deep {
  .md-table-head-label {
    font-family: var(--SegoeBold);
    font-size: 14px;
    color: var(--mainTextColor);
  }
  .md-table-head.md-numeric {
    width: 60px;
  }
}